<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='admin_style.css')}}">

</head>
<body>
    <div class="navbar">
    <h1>Admin Dashboard</h1>

        <div class="navbar-right">
            <h3>Welcome, Admin</h3>

            <a href="/logout">
                <button class="logout-btn">Logout</button>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="container">
            <div class="sidebar">
                <ul>
                    <li><a href="/admin_dashboard">Dashboard</a></li>
                    <li><a href="/admin_students">Students</a></li>
                    <li><a href="/admin_recruiters">Recruiters</a></li>
                    <li class="active"><a href="/admin_analytics">Analytics</a></li>
                    <li><a href="/admin_reports">Reports</a></li>
                    <li onclick="confirmLogout()">Logout</li>
                </ul>

            </div>

            <div class="content">

                <h1>Placement Analytics</h1>

                    <div class="analytics-box">
                        <h3>Department-wise Placement Rate</h3>

                        <p>CSE : 92%</p>
                        <p>ECE : 85%</p>
                        <p>EEE : 80%</p>
                        <p>ME : 68%</p>
                    </div>

                    <div class="analytics-box">
                        <h3>Recruitment Funnel</h3>

                        <p>Applied : 1260</p>
                        <p>Reviewed : 980</p>
                        <p>Shortlisted : 540</p>
                        <p>Selected : 216</p>
                    </div>

                    <div class="analytics-box">
                        <h3>Top Recruiters</h3>

                        <p>TCS - 54 Hires</p>
                        <p>Infosys - 41 Hires</p>
                        <p>Accenture - 33 Hires</p>
                    </div>

            </div>
        </div>
    </div>
<script src="{{ url_for('static', filename='admin_javascript.js') }}"></script>
</body>
</html>
