<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruiter Details</title>
    <link rel="stylesheet" href="{{url_for('static',filename='admin_style.css')}}">

</head>
<body>
    <div class="navbar">
    <h1 class="logo">CareerBridge</h1>

        <div class="navbar-right">
            <h3>Welcome, Admin</h3>

            <a href="/logout">
                <button class="logout-btn">Logout</button>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="/admin_dashboard">Dashboard</a></li>
                <li><a href="/admin_students">Students</a></li>
                <li class="active"><a href="/admin_recruiters">Recruiters</a></li>
                <li><a href="/admin_reports">Reports</a></li>
                <li onclick="confirmLogout()">Logout</li>
            </ul>

        </div>

        <div class="content">

            <h1>Recruiter Management</h1>

            <table>
            <tr>
                <th>Company</th>
                <th>Recruiter Name</th>
                <th>Industry</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            {% for r in recruiters %}
            <tr>
                <td>{{ r.company_name }}</td>
                <td>{{ r.name }}</td>
                <td>{{ r.industry }}</td>
                <td id="status{{ r.id }}">{{ r.status }}</td>
                <td>
                    <button onclick="approve('status{{ r.id }}')">Approve</button>
                    <button onclick="suspend('status{{ r.id }}')">Suspend</button>
                </td>
            </tr>
            {% endfor %}
        </table>

        </div>
    </div>

<script src="{{url_for('static',filename='admin_javascript.js')}}"></script>
</body>
</html>