<!DOCTYPE html>
<html lang="en">
<head>
    <title>Post Job</title>

    <!-- Flask CSS Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='rec_style.css') }}">
</head>

<body>

<!-- NAVBAR -->
<div class="navbar">
    <h2 class="logo">CareerBridge</h2>

    <div class="navbar-right">
        <span>Welcome, Recruiter</span>
        <button onclick="confirmLogout()" class="log-out">Logout</button>
    </div>
</div>

<div class="container">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <ul>
            <li><a href="/rec_dashboard">Dashboard</a></li>
            <li><a href="/rec_profile">Profile</a></li>
            <li class="active"><a href="/rec_post_job">Post Job</a></li>
            <li><a href="/rec_jobs">Posted Jobs</a></li>
            <li><a href="/rec_applicants">Applicants</a></li>
            <li onclick="confirmLogout()">Logout</li>
        </ul>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">

        <div class="section">
            <h2>Post a New Job</h2>
            <br>

            <!-- CONNECTED TO FLASK -->
            <form class="job-form" method="POST">

                <div class="form-group">
                    <label>Job Title</label>
                    <input type="text"
                           name="title"
                           placeholder="e.g. Frontend Developer"
                           required>
                </div>

                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text"
                           name="company"
                           placeholder="Enter Company Name"
                           required>
                </div>

                <div class="form-group full-width">
                    <label>Job Description</label>

                    <textarea rows="6"
                              name="description"
                              placeholder="Enter job description..."
                              required></textarea>
                </div>

                <div class="form-group">
                    <label>Salary / Package</label>
                    <input type="text"
                           name="salary"
                           placeholder="e.g. ₹6 LPA"
                           required>
                </div>

                <div class="form-group">
                    <label>Location</label>
                    <input type="text"
                           name="location"
                           placeholder="e.g. Kochi"
                           required>
                </div>

                <div class="form-group">
                    <label>Elgibility</label>
                    <input type="text"
                           name="elgibility"
                           placeholder="Eligibility"
                           required>
                </div>

                <div class="form-group">
                    <label>Skills Required</label>
                    <input type="text"
                           name="skills"
                           placeholder="HTML, CSS, JavaScript"
                           required>
                </div>

                <div class="form-group">
                    <label>Last Date to Apply</label>
                    <input type="date"
                           name="last_date"
                           required>
                </div>

                <div class="full-width form-buttons">
                    <button type="submit">
                        Post Job
                    </button>

                    <button type="reset">
                        Clear
                    </button>
                </div>

            </form>

        </div>

    </div>

</div>
<script src="{{ url_for('static', filename='rec_javascript.js') }}"></script>

</body>
</html>