<!DOCTYPE html>
<html lang="en">
<head>
    <title>Applicants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
</head>

<body>

<!-- NAVBAR -->
<div class="navbar">
    <h2>Recruiter Dashboard</h2>

    <div class="navbar-right">
        <span>Welcome, Recruiter</span>
        <button onclick="confirmLogout()" class="log-out">Logout</button>
    </div>
</div>

<div class="container">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/post_job">Post Job</a></li>
            <li class="active"><a href="/applicants">Applicants</a></li>
            <li onclick="confirmLogout()">Logout</li>
        </ul>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">

        <div class="section">
            <h2>Applicants</h2>
            <br>

            <table>
                <tr>
                    <th>Student Name</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Role</th>
                    <th>Application Date</th>
                    <th>Resume</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>

                {% for a in applicants %}
<tr>
    <td>{{ a.student_name or a.student_email }}</td>
    <td>{{ a.student_email }}</td>
    <td>{{ a.company }}</td>
    <td>{{ a.role }}</td>
    <td>-</td>
    <td>
        {% if a.resume_filename %}
            <a href="{{ url_for('uploaded_file', filename=a.resume_filename) }}" target="_blank" download>View Resume</a>
        {% else %}
            No resume
        {% endif %}
    </td>
    <td>Pending</td>
    <td>
        <form method="POST">
            <input type="hidden" name="id" value="{{ a.id }}">

            <select name="status">
                <option>Pending</option>
                <option>Shortlisted</option>
                <option>Selected</option>
                <option>Rejected</option>
            </select>

            <button type="submit">Update</button>
        </form>
    </td>
</tr>
{% endfor %}

            </table>

        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='javascript.js') }}"></script>

</body>
</html>